@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

img {
  object-fit: contain;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

input [type=search]::-webkit-search-cancel-button {
  /* removar 'x' takkann frá search bars */
  appearance: none;
}

.navbar {
  display: grid;
  grid-template-columns: minmax(270px, 2fr) 1fr 3fr 25px;
  margin: 0.5em 0 0;
  position: absolute;
  width: min(100% - 1em, 1440px);
  z-index: 1;
}
.navbar li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .main-text {
  display: flex;
  padding-left: 0.5em;
  width: 100%;
}
.navbar .tag-flex > * {
  margin-right: 1em;
}
.navbar .main-text > * {
  margin-right: 0.5em;
}
.navbar .text {
  /* Tæknibúðin textinn */
  bottom: 0;
  font-size: 40px;
  line-height: 30px;
  margin-left: 1em;
  position: absolute;
}
.navbar .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 0;
}
.navbar .content > * {
  margin: 0 1em;
}
.navbar .cart-img > * {
  bottom: 0;
  padding-right: 0.5em;
  position: absolute;
  right: 0;
}
.navbar .search-form {
  display: flex;
  margin-right: 1.6em;
}
.navbar .search-bar {
  height: 2.5em;
  width: 30em;
}
.navbar .magnifying-glass-img {
  margin-left: -1.6em;
  width: 20px;
}

.footer {
  background-color: #3c2a1e;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 18em;
  left: calc(100% - 1440px - (100% - 1440px) / 2 + 1px);
  margin-top: -5em;
  position: absolute;
  right: calc((100% - 1440px) / 2 + 1px);
  z-index: -1;
}
.footer .footer-section-container {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 7em 1em 0;
  position: relative;
}
.footer h2 {
  border-bottom: 2px solid #e1cec2;
  font-weight: 400;
  text-transform: uppercase;
}
.footer .footer-bottom-text {
  border-top: 1px solid #6f4e37;
  bottom: 0;
  font-size: 0.9em;
  left: 50%;
  margin-left: -35%;
  position: absolute;
  text-align: center;
  width: 70%;
}

.list-container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  margin: 2em auto 0;
  text-align: center;
  width: 90%;
}
.list-container a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15vw;
}
.list-container .search-form {
  display: flex;
  width: 100%;
}
.list-container .search-bar {
  height: 2.5em;
  width: 100%;
}
.list-container .magnifying-glass-img {
  margin-left: -1.6em;
  width: 20px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 35em;
}

header {
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  height: 35em;
  left: calc(50% - 720px);
  position: absolute;
  top: 0;
  width: 1440px;
}
header .backgr-img {
  height: 100%;
  object-fit: cover;
  opacity: 60%;
  position: absolute;
  top: 0;
  width: 1440px;
  width: 100%;
  z-index: 0;
}
header .front-text-container {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-style: normal;
  height: 100%;
  justify-content: center;
  width: 100%;
}
header .big-text {
  font-size: clamp(60px, 12vw, 160px);
  font-weight: bold;
  margin-bottom: 4rem;
  position: absolute;
  text-align: center;
}
header .smaller-text {
  font-size: 36px;
  font-weight: normal;
  margin-top: clamp(5rem, 12vw, 10rem);
  position: absolute;
  text-align: center;
}

.container {
  align-content: center;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  height: 32em;
  margin: 0 auto;
  max-width: min(100%, 1000px);
  position: relative;
}
.container .second-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .text-container > * {
  margin-bottom: 0.5em;
}
.container h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 450;
}
.container strong {
  font-weight: 600;
}
.container p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.container button {
  background-color: #6F4E37;
  border: 1px solid #3C2A1E;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: 177px;
}
.container button:hover {
  cursor: pointer;
}
.container img {
  object-fit: cover;
  width: 100%;
}

.grid-content {
  align-content: center;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 1em;
}

.brown-backgr {
  background-color: #e1cec2;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  margin: auto 0;
  padding: 5em 0 10em;
  position: relative;
}
.brown-backgr .h2-container {
  margin: 3em auto 1em;
  width: 70%;
}
.brown-backgr h2 {
  font-size: 36px;
  font-weight: 500;
}
.brown-backgr section {
  background-color: #fff;
  border-radius: 5px;
  max-width: 100%;
}
.brown-backgr .extra-space {
  margin: 0.7em;
}
.brown-backgr .extra-space > *:not(.no-margin) {
  margin-bottom: 0.3em;
}
.brown-backgr .item-main-text {
  font-size: 22px;
}
.brown-backgr .tag-flex {
  display: flex;
}
.brown-backgr .tag-flex > * {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.8em;
  padding: 0.5em;
}
.brown-backgr img {
  height: 10em;
  object-fit: cover;
  width: 100%;
}
.brown-backgr button {
  background-color: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3C2A1E;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: 100%;
}
.brown-backgr button:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  /*
  .container {
    margin: 0 2em;
  }
  */
  .grid-content {
    grid-template-columns: 1fr 1fr;
  }

  .brown-backgr {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  .brown-backgr .h2-container {
    width: 100%;
  }
  .brown-backgr h2 {
    font-size: 4.5vw;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    margin: 10em 2em;
  }
  .container .second-container {
    align-items: center;
  }

  .brown-backgr h2 {
    font-size: 4.5vw;
  }
}
@media (max-width: 700px) {
  header {
    clip-path: none;
    height: 20em;
  }

  .backgr-img {
    height: 25em;
  }

  .front-text-container {
    height: 20em;
  }

  main {
    margin-top: 20em;
  }

  .container {
    height: 22em;
  }

  .grid-content {
    grid-template-columns: 1fr;
  }

  .brown-backgr {
    clip-path: none;
    margin: auto 0;
    padding: 1em 0;
  }
  .brown-backgr .h2-container {
    margin: 0 1em 1em;
    width: calc(100% - 2.2em);
  }
  .brown-backgr h2 {
    font-size: 2.5em;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .brown-backgr h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 1440px) {
  .footer {
    left: 0;
    right: 0;
  }
}
@media (min-width: 1081px) {
  .navbar .hamburger {
    display: none;
  }
}
@media (max-width: 1080px) {
  .navbar {
    grid-template-columns: minmax(270px, 2fr) 1fr 1fr 25px 25px;
  }
  .navbar .content {
    display: none;
  }
  .navbar .cart-img > * {
    bottom: 0;
    position: absolute;
    right: 40px;
  }
  .navbar .hamburger {
    bottom: 2px;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 775px) {
  .navbar .search-form {
    display: none;
  }
  .navbar .text {
    /* Tæknibúðin textinn */
    font-size: 1.8em;
    margin-left: 1.4em;
  }
}
@media (max-width: 700px) {
  .footer {
    height: 27em;
    margin-top: -7em;
    position: relative;
  }
  .footer .footer-section-container {
    grid-template-columns: 1fr;
  }
  .footer section {
    margin: 1em 0 -1em;
  }
  .footer .footer-bottom-text {
    margin-left: -50%;
    width: 100%;
  }
}
.new-products-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 450;
  left: 15px;
  margin: 0.5em 0;
  position: relative;
  width: calc(100% - 0.3em);
}

.sort-by-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 400;
  left: 15px;
  position: relative;
}

.sort-by-container {
  left: 15px;
  margin-bottom: 2em;
  position: relative;
}

.tag-container {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 0.4em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.tag-container :hover {
  cursor: pointer;
}

.backgr-brown {
  background-color: #e1cec2;
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 0 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em 1em 0;
}
.backgr-brown .extra-space {
  margin: 0.7em;
}
.backgr-brown .extra-space > *:not(.no-margin) {
  margin-bottom: 0.3em;
}
.backgr-brown section {
  background-color: #fff;
  border-radius: 5px;
  height: fit-content;
  margin-bottom: 2em;
  width: 100%;
}
.backgr-brown .item-main-text {
  font-size: 22px;
}
.backgr-brown .tag-flex {
  display: flex;
}
.backgr-brown .tag-flex > * {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.8em;
  padding: 0.5em;
}
.backgr-brown img {
  height: 10em;
  object-fit: cover;
  width: 100%;
}
.backgr-brown button {
  background-color: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3C2A1E;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: 100%;
}
.backgr-brown button:hover {
  cursor: pointer;
}

@media (max-width: 1040px) {
  .backgr-brown {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .backgr-brown {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 505px) {
  .backgr-brown {
    grid-template-columns: 1fr;
  }
}
.about-container {
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
  margin: 3em 0 0;
}
.about-container img {
  object-fit: cover;
  width: 100%;
}
.about-container .second-cont {
  margin-top: -1.2em;
}
.about-container .description-cont > * {
  margin: 1em 0;
}
.about-container h2 {
  font-size: 3.5em;
  font-weight: 400;
}
.about-container .about-text {
  font-size: 20px;
}
.about-container .tag-flex {
  display: flex;
}
.about-container .tag-cont {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.8em;
  padding: 0.5em;
}
.about-container .item-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-container .cost {
  font-weight: 500;
  margin: auto 0;
}
.about-container .add-to-cart {
  background-color: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3C2A1E;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: 330px;
}
.about-container .add-to-cart:hover {
  cursor: pointer;
}

.properties-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2em auto;
  width: 70%;
}
.properties-container section {
  margin: 2em 0 0;
}
.properties-container h3 {
  font-size: 2.3em;
  font-weight: 500;
}
.properties-container h4 {
  font-size: 2.1em;
  font-weight: 400;
}
.properties-container p {
  font-size: 20px;
}

.background-brown {
  background-color: #e1cec2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 1em;
}
.background-brown h4 {
  font-size: 2.1em;
  font-weight: 400;
  padding: 0.6em 0;
}
.background-brown .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2em;
}
.background-brown section {
  background-color: #fff;
  border-radius: 5px;
  max-width: 100%;
}
.background-brown .extra-space {
  margin: 0.7em;
}
.background-brown .extra-space > *:not(.no-margin) {
  margin-bottom: 0.3em;
}
.background-brown .item-main-text {
  font-size: 22px;
}
.background-brown .tag-flex {
  display: flex;
}
.background-brown .tag-flex > * {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.8em;
  padding: 0.5em;
}
.background-brown img {
  height: 10em;
  object-fit: cover;
  width: 100%;
}
.background-brown button {
  background-color: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3C2A1E;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: 100%;
}
.background-brown button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
