* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  // svo það kemur ekki whitespace hægra megin
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  max-width: $max-width;
}

img {
  object-fit: contain;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

input [type='search']::-webkit-search-cancel-button {
  /* removar 'x' takkann frá search bars */
  appearance: none;
}

.navbar {
  display: grid;
  grid-template-columns: minmax(270px, 2fr) 1fr 3fr 25px;
  margin: 0.5em 0 0;
  position: absolute;
  width: min(calc(100% - 1em), 1440px);
  z-index: 1;

  .main-text {
    display: flex;
    padding-left: 0.5em;
    width: 100%;
  }

  .tag-flex > * {
    margin-right: 1em;
  }

  .main-text > * {
    margin-right: 0.5em;
  }

  .text {
    /* Tæknibúðin textinn */
    bottom: 0;
    font-size: 40px;
    line-height: 30px;
    margin-left: 1em;
    position: absolute;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 0;
  }

  .content > * {
    margin: 0 1em;
  }

  .cart-img > * {
    bottom: 0;
    padding-right: 0.5em;
    position: absolute;
    right: 0;
  }

  .search-form {
    display: flex;
    margin-right: 1.6em;
  }

  .search-bar {
    height: 2.5em;
    width: 30em;
  }

  .magnifying-glass-img {
    margin-left: -1.6em;
    width: 20px;
  }
}

.brown-dot-container {
  bottom: 0;
  position: absolute;
  z-index: 1;

  img {
    bottom: -2px;
    height: 18px;
    left: -30px;
    position: absolute;
    width: 18px;
  }

  p {
    color: #fff;
    left: -26px;
    position: absolute;
    top: -19px;
  }
}

.to-products-link { // margin fyrir dálkana
  img,
  .item-main-text,
  .tag-flex,
  .amount {
    margin-bottom: 0.3em;
  }
}

.footer {
  background-color: #3c2a1e;
  color: #fff;
  height: 18em;
  left: calc(100% - $max-width - (100% - $max-width) / 2 + 1px);
  margin-top: -5em;
  position: absolute;
  right: calc((100% - $max-width) / 2 + 1px);
  z-index: -1;

  .footer-section-container {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 7em 1em 0;
    position: relative;
  }

  h2 {
    border-bottom: 2px solid #e1cec2;
    font-weight: 400;
    text-transform: uppercase;
  }

  .footer-bottom-text {
    border-top: 1px solid #6f4e37;
    bottom: 0;
    font-size: 0.9em;
    left: 50%;
    margin-left: -35%;
    position: absolute;
    text-align: center;
    width: 70%;
  }
}

@media (max-width: $max-width) {
  .footer {
    left: 0;
    right: 0;
  }
}

@media (min-width: 1081px) {
  .navbar {
    .hamburger {
      display: none;
    }
  }
}

@media (max-width: 1080px) {
  .navbar {
    grid-template-columns: minmax(270px, 2fr) 1fr 1fr 25px 25px;

    .content {
      display: none;
    }

    .cart-img > * {
      bottom: 0;
      position: absolute;
      right: 40px;
    }

    .hamburger {
      bottom: 2px;
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: 775px) {
  .navbar {
    .search-form {
      display: none;
    }

    .text { /* Tæknibúðin textinn */
      font-size: 1.8em;
      margin-left: 1.4em;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    height: 27em;
    margin-top: -7em;
    position: relative;

    .footer-section-container {
      grid-template-columns: 1fr;
    }

    section {
      margin: 1em 0 -1em;
    }

    .footer-bottom-text {
      margin-left: -50%;
      width: 100%;
    }
  }
}
