* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: $max-width;
}

img {
  object-fit: contain;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

input [type='search']::-webkit-search-cancel-button {
  /* removar 'x' takkann frá search bars */
  appearance: none;
}
