*{
  margin: 0;
  padding: 0;
}

body{
  max-width: $max-width;
  margin: 0 auto;
}

img{
  object-fit: contain;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}

input[type="search"]::-webkit-search-cancel-button{
  /* removar 'x' takkann frá search bars */
  -webkit-appearance:none;
}
