
@media (max-width: $max-width) {
  .footer {
    left: 0;
    right: 0;
  }
}

@media (min-width: 1081px) {
  .navbar {
    .hamburger {
      display: none;
    }
  }
}

@media (max-width: 1080px) {
  .navbar {
    grid-template-columns: minmax(270px, 2fr) 1fr 1fr 25px 25px;

    .content {
      display: none;
    }

    .cart-img > * {
      bottom: 0;
      position: absolute;
      right: 40px;
    }

    .hamburger {
      bottom: 2px;
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: 775px) {
  .navbar {
    .search-form {
      display: none;
    }

    .text { /* Tæknibúðin textinn */
      font-size: 1.8em;
      margin-left: 1.4em;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    height: 27em;
    margin-top: -7em;
    position: relative;

    .footer-section-container {
      grid-template-columns: 1fr;
    }

    section {
      margin: 1em 0 -1em;
    }

    .footer-bottom-text {
      margin-left: -50%;
      width: 100%;
    }
  }
}
