$max-width: 1400px;
$content-width: 70%;

@mixin buttonStyle($backgr-color, $font-color, $border-color, $width) {
  background-color: $backgr-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
  color: $font-color;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: $width;
}
