$max-width: 1440px;
$content-width: 70%;
$indent-left: 15px;

@mixin buttonStyle($backgr-color, $font-color, $border-color, $width) {
  background-color: $backgr-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
  color: $font-color;
  font-size: 14px;
  font-weight: 550;
  height: 44px;
  text-transform: uppercase;
  width: $width;

  &:hover {
    cursor: pointer;
  }
}

@mixin tagStyle($fontSize, $marginRight) {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-size: $fontSize;
  font-weight: 500;
  margin-right: $marginRight;
  padding: 0.5em;
}
