main {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  height: fit-content;
  margin: 1em;

  div {
    align-content: space-between;
    display: grid;
    gap: 1.5em;
    grid-area: Q;
  }

  h2 {
    font-size: 36px;
    font-weight: 450;
  }

  strong {
    font-weight: 600;
  }

  p {
    font-size: 20px;
  }

  img {
    align-self: center;
    grid-area: P;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  button {
    @include buttonStyle(#6F4E37,#FFFFFF,#3C2A1E,177px);

    justify-self: center;
  }
}

.grid-content {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  height: fit-content;
  margin: 1em;
}

.container-areas1 {
  grid-template-areas: 'Q' 'P';
}

.container-areas2 {
  grid-template-areas: 'P' 'Q';
}

.main-page-ad {
  background: rgba(255, 255, 255, 0.5);
  height: 20em;
  max-width: 100%;
  position: relative;
  top: 0;
  width: $max-width;

  .backgr-img {
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .front-text-container {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    font-style: normal;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .big-text {
    font-size: max(clamp(50px, 15vw, 160px));
    font-weight: 500;
    margin-bottom: clamp(2.5rem, 8vw, 4.5rem);
    position: absolute;
    text-align: center;
  }

  .smaller-text {
    font-size: clamp(30px, 5vw, 36px);
    font-weight: normal;
    margin-top: clamp(5rem, 12vw, 10rem);
    position: absolute;
    text-align: center;
  }
}

.brown-backgr {
  background-color: #e1cec2;
  height: fit-content;
  padding-bottom: 1em;
  position: relative;

  h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0.5rem 1rem;
  }

  section {
    background-color: #fff;
    border-radius: 5px;
    max-width: 100%;
  }

  .extra-space {
    margin: 0.7em;
  }

  .extra-space > *:not(.no-margin) {
    margin-bottom: 0.3em;
  }

  .item-main-text {
    font-size: 22px;
  }

  img {
    height: 10em;
    object-fit: cover;
    width: 100%;
  }

  .tag-flex {
    display: flex;
  }

  .tag-flex > p {
    @include tagStyle(14px,0.8em);
  }

  button {
    @include buttonStyle(#FEFEFE,#3C2A1E,#6F4E37,100%);
  }
}

//---------------------------------------------------------------------
@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    margin: 2em 1em;

    button {
      justify-self: start;
    }
  }

  .container-areas1 {
    grid-template-areas: 'Q Q Q Q Q Q P P P P P P';
  }

  .container-areas2 {
    grid-template-areas: 'P P P P P P Q Q Q Q Q Q';
  }

  .grid-content {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1em;
  }

  .main-page-ad {
    height: 26em;
  }

  .brown-backgr {
    padding-bottom: 2em;
  }
}

//---------------------------------------------------------------------
@media (min-width: 900px) {
  .container-areas1 {
    grid-template-areas: '- Q Q Q Q Q P P P P P';
  }

  .container-areas2 {
    grid-template-areas: '- P P P P P Q Q Q Q Q';
  }
}

//---------------------------------------------------------------------
@media (min-width: 1200px) {
  .container {
    margin: 7em 1em;
  }

  .container-areas1 {
    grid-template-areas: '- - Q Q Q Q P P P P';
  }

  .container-areas2 {
    grid-template-areas: '- - P P P P Q Q Q Q';
  }

  .grid-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-page-ad {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    height: 35em;
  }

  .brown-backgr {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
    padding: 10em 0;

    h2 {
      left: 16rem;
      margin: 0;
      position: absolute;
      top: 5rem;
    }
  }
}
