.container {
  display: grid;
  gap: 2em;
  height: fit-content;

  div {
    grid-area: Q;
  }

  img {
    grid-area: P;
  }
}

.grid-content {
  display: grid;
  gap: 2em;
  height: fit-content;
}

.grid-area-a {
  grid-area: A;
}

.grid-area-b {
  grid-area: B;
}

.grid-area-c {
  grid-area: C;
}

.grid-area-d {
  grid-area: D;
}
//---------------------------------------------------------------------
@media (min-width: 0) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    margin: 1em;

    button {
      justify-self: center;
    }
  }

  .container-areas1 {
    grid-template-areas: 'Q' 'P';
  }

  .container-areas2 {
    grid-template-areas: 'P' 'Q';
  }

  .grid-content {
    grid-template-areas: 'A' 'B' 'C' 'D';
    grid-template-columns: repeat(1, 1fr);
    margin: 1em;
  }

  header {
    clip-path: none;
    height: 20em;
  }

  main {
    margin-top: 20em;
  }

  .brown-backgr {
    clip-path: none;
    height: fit-content;
    padding-bottom: 1em;

    h2 {
      margin: 0.5rem 1rem;
    }
  }
}
//---------------------------------------------------------------------
@media (min-width: 700px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    margin: 2em 1em;

    button {
      justify-self: start;
    }
  }

  .container-areas1 {
    grid-template-areas: '- Q Q Q Q Q P P P P P';
  }

  .container-areas2 {
    grid-template-areas: '- P P P P P Q Q Q Q Q';
  }

  .grid-content {
    grid-template-areas: 'A A A A A A B B B B B B' 'C C C C C C D D D D D D';
    grid-template-columns: repeat(12, 1fr);
    margin: 0 1em;
  }

  header {
    height: 26em;
  }

  main {
    margin-top: 26em;
  }

  .brown-backgr {
    padding-bottom: 2em;
  }
}
//---------------------------------------------------------------------
@media (min-width: 1100px) {
  .container {
    margin: 7em 1em;
  }

  .container-areas1 {
    grid-template-areas: '- - Q Q Q Q P P P P';
  }

  .container-areas2 {
    grid-template-areas: '- - P P P P Q Q Q Q';
  }

  .grid-content {
    grid-template-areas: 'A A A B B B C C C D D D';
    grid-template-columns: repeat(12, 1fr);
  }

  header {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    height: 35em;
  }

  main {
    margin-top: 35em;
  }

  .brown-backgr {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
    padding: 10em 0;

    h2 {
      left: 16rem;
      margin: 0;
      position: absolute;
      top: 5rem;
    }
  }
}

/*
@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-areas1 {
    grid-template-areas: '- - A A A A Q Q Q Q';
  }

  .container-areas2 {
    grid-template-areas: '- - Q Q Q Q A A A A';
  }
}

@media (max-width: 1100px) {
  .brown-backgr {
    //clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);

    .h2-container {
      width: 100%;
    }

    h2 {
      font-size: 4.5vw;
      text-align: center;
    }
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-areas: 'A', 'B', 'C', 'D';
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    .second-container {
      align-items: center;
    }
  }

  .container-areas1 {
    grid-template-areas: 'A A A A A A A A A A A A', 'Q Q Q Q Q Q Q Q Q Q Q Q';
  }

  .brown-backgr {
    clip-path: none;

    h2 {
      font-size: 4.5vw;
    }
  }
}

@media (max-width: 700px) {
  header {
    height: 20em;
  }

  .backgr-img {
    height: 25em;
  }

  .front-text-container {
    height: 20em;
  }

  main {
    margin-top: 20em;
  }

  
  .container {
    grid-template-columns: repeat(1, 1fr);
    height: 30em;
  }

  .container-areas1 {
    grid-template-areas: 'A', 'Q';
  }
  

  
  .container-areas2 {
    grid-template-areas: '- - Q Q Q Q A A A A';
  }
  

  .grid-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .brown-backgr {
    clip-path: none;
    margin: auto 0;
    padding: 1em 0;

    .h2-container {
      margin: 0 1em 1em;
      width: calc(100% - 2.2em);
    }

    h2 {
      font-size: 2.5em;
      text-align: left;
    }
  }
}

@media (max-width: 400px) {
  .brown-backgr {
    h2 {
      font-size: 1.5em;
    }
  }
}
*/