#order-body{
  height: calc(100vh - 2px);
}

#order-main{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 4em auto 0;
  width: 98%;

  h2 {
    font-size: 3.5em;
    font-weight: 400;
  }
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.order-form{

  legend{
    font-size: 2em;
  }

  .input-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 1.5em;
  }

  input{
    width: 85%;
    height: 60%;
  }

  label{
    font-size: 1.3em;
  }

  button{
    @include buttonStyle(#6F4E37,#FFFFFF,#3C2A1E,177px);
    margin-top: 1em;
  }
}

.items-cont{
  .item{
    display: grid;


    &:not(.total-cost){
      grid-template-columns: 2.5fr 1fr;
      padding: 1em 0;
      border-bottom: 1px solid #E1CEC2;
    }
  }

  .total-cost{
    grid-template-columns: 1fr 1.5fr;
  }

  .name-and-img{
    display: flex;
  }

  img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 1.5em;
  }

  p{
    margin: auto 0;
    font-size: 22px;
  }

  .amount{
    text-align: right;
  }

  .total-cost{
    margin-top: 1em;
    font-weight: 500;
  }

  .total{
    text-align: left;
  }
}

#order-footer{
  position: relative;
  margin-top: -4em;
  height: 13em;
  .footer-section-container{
    padding-top: 2.5em;
  }
}


