
@media (min-height: 815px){
  #order-footer{
    position: absolute;
    bottom: 0;
    .footer-section-container{
      margin-top: -.5em;
    }
  }
}

@media (max-width: 900px){

  #order-main{
    width: 95%;
  }

  .grid-container{
    grid-template-columns: 1fr;
  }

  .order-form{
    input{
      width: 97.5%;
    }
  }

  #order-footer{
    position: relative;
    .footer-section-container{
      margin-top: 7em;
    }
  }
}

@media (max-width: 700px){

  #order-footer{
    height: 57%;
  }

}

@media (max-width: 450px){
  .order-form{
    .input-grid{
      grid-template-columns: 1fr;
    }

    input{
      width: 100%;
    }
  }
}
