p{
    position: absolute;
    left: 0.83%;
    right: 1.67%;
    top: 6.92%;
    bottom: 87.09%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
}