.tag-flex {
  display: flex;

  p {
    @include tagStyle(14px, 0.8em);
  }
}

.about-container {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
  margin-top: 5em;

  img {
    object-fit: cover;
    width: 100%;
  }

  .second-cont {
    margin-top: -1.2em;
  }

  .description-cont > * {
    margin: 1em 0;
  }

  h2 {
    font-size: 3.5em;
    font-weight: 400;
  }

  .about-text {
    font-size: 20px;
  }

  .tag-flex {
    display: flex;
  }

  .tag-cont {
    @include tagStyle(14px,0.8em);
  }

  .item-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cost {
    font-size: 1.25em;
    font-weight: 500;
    margin: auto 0;
  }

  .add-to-cart {
    @include buttonStyle(#FEFEFE,#3C2A1E,#6F4E37,330px);
  }
}

.properties-container {
  margin: 2em auto;
  width: 70%;

  section {
    margin: 2em 0 0;
  }

  h3 {
    font-size: 2.3em;
    font-weight: 500;
  }

  h4 {
    font-size: 2.1em;
    font-weight: 400;
  }

  p {
    font-size: 20px;
  }
}

.background-brown {
  background-color: #e1cec2;
  padding: 0 1em;

  h4 {
    font-size: 2.1em;
    font-weight: 400;
    padding: 0.6em 0;
  }

  .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2em;
  }

  section {
    background-color: #fff;
    border-radius: 5px;
    max-width: 100%;
  }

  .extra-space {
    margin: 0.7em;
  }

  .extra-space > *:not(.no-margin) {
    margin-bottom: 0.3em;
  }

  .item-main-text {
    font-size: 22px;
  }

  img {
    height: 10em;
    object-fit: cover;
    width: 100%;
  }

  button {
    @include buttonStyle(#FEFEFE,#3C2A1E,#6F4E37,100%);
  }
}
//-------------------------------------------------------------------

@media (max-width: 440px) {
  .about-container {
    .add-to-cart {
      @include buttonStyle(#FEFEFE,#3C2A1E,#6F4E37,100%);

      float: none;
    }
  }

  .properties-container {
    width: 95%;
  }
}
//-------------------------------------------------------------------

@media (max-width: 550px) {
  .second-cont {
    h2 {
      font-size: 9vw;
    }
  }
}
//-------------------------------------------------------------------

@media (max-width: 1120px) {
  .about-container {
    grid-template-columns: 1fr;
    margin: 3em auto 0;
    width: 95%;

    img {
      height: auto;
    }

    .add-to-cart {
      float: right;
    }
  }
}

//-------------------------------------------------------------------

@media (min-width: 600px) {
  .background-brown {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
//-------------------------------------------------------------------

@media (min-width: 1200px) {
  .background-brown {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
