.tag-flex {
  display: flex;

  p {
    background: #e1cec2;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 0.8em;
    padding: 0.5em;
  }
}

.new-products-text {
  font-size: 60px;
  font-weight: 450;
  left: $indent-left;
  margin: 1em 0 0.5em;
  position: relative;
  width: calc(100% - 0.3em);
}

.sort-by-text {
  font-size: 32px;
  font-weight: 400;
  left: $indent-left;
  position: relative;
}

.sort-by-container {
  left: $indent-left;
  margin-bottom: 2em;
  position: relative;
  width: calc(100% - 1em);
}

.tag-container {
  background: #e1cec2;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-right: 0.4em;
  padding: 0.5em;

  :hover {
    cursor: pointer;
  }
}

.backgr-brown {
  background-color: #e1cec2;
  display: grid;
  gap: 0 2%;
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 1em 0;

  .extra-space {
    margin: 0.7em;
  }

  .extra-space > *:not(.no-margin) {
    margin-bottom: 0.3em;
  }

  section {
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 2em;
    width: 100%;
  }

  .item-main-text {
    font-size: 22px;
  }

  img {
    height: 10em;
    object-fit: cover;
    width: 100%;
  }

  button {
    background-color: #fefefe;
    border: 1px solid #6f4e37;
    color: #3c2a1e;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .backgr-brown {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .backgr-brown {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .backgr-brown {
    grid-template-columns: repeat(4, 1fr);
  }
}
